


body {
  background: #990099;
  width: 100%;
  display: inline-block;
  margin: 0 auto;  
  font-family: Circular, sans-serif;
  color: white;
}


header, footer, .container {
  background: #99cc00;
  border-radius: 0.5em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  margin-left: 6em;
  margin-right: 6em;
  box-sizing: border-box;
}

header {
  height: 7em;
  margin-top: 1em;
  text-align: center; 
  overflow:visible;
  box-sizing: border-box;  
}

footer {
  height: 7em;
  padding-top: 5em; 
  text-align: center;  
  box-sizing: border-box;
}

header p{
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 0.5em;
  position: relative;
  top: 0.5em;
}


footer p{
  font-size: 0.75em;
  color: #990099;
}

.box-1, .box-2 {
  width: 50%;
  color: white;
  float: left;
  display: table;
  padding: 1.5em;
  box-sizing: border-box;
}

.box-2 {
  padding-left: 0;
}

ul {
  margin: 0;
  padding: 0px;
}

li {
  color: white;
  margin: 2px;
  padding: 3px;
  
  
}

.ck-button {
  display: none;
}

/*
.ck-button {
  height: 0;
  position: absolute;
  visibility: hidden;
}
*/

label {
  display: block;
  text-align: center;
  width: 5.5em;
  height: 3em;
  padding: 0.8em;
  border: 2px solid white;
  border-radius: 5px;
  box-sizing: border-box;
}

input:checked + label {
  background: white;
  color: #99cc00;
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease;
}

input + label:hover {
  border: 2px solid white;
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease;
}

.box-1 > div {
  float: left;
  margin: 0.2em;
  text-align: center;
  box-sizing: border-box;  
}

.sbm-button {
  width: 8em;
  height: 4em;
  border: 1px solid #990099;
  background: #990099;
  color: white;
  border-radius: 5px;
  overflow:auto;
  box-sizing: border-box;  
}


/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}




@media (max-width: 991px) {
  h3 {
    text-align: center;
  }
  p {
    font-size: 14px;
    line-height: 21px;
  }
  .section.hero {
    padding-top: 34px;
    padding-bottom: 1px;
  }
  .hero-iphone {
    text-shadow: black 0px 0px 0px;
  }
  .hero-header {
    font-size: 38px;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
  }
  .hero-subtitle {
    text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
  }
}

@media (max-width: 767px) {
  h2 {
    margin-top: 0px;
  }
  h3 {
    font-size: 25px;
  }
  .section {
    padding-top: 33px;
    padding-bottom: 33px;
    text-align: center;
  }
  .section.hero {
    padding-right: 38px;
    padding-bottom: 52px;
    padding-left: 38px;
    text-align: center;
  }
  .hero-iphone {
    margin-bottom: 1px;
    text-shadow: black 0px 0px 0px;
  }
  .app-name {
    display: inline-block;
    margin-bottom: 0px;
  }
  .nav-column {
    padding-top: 22px;
    text-align: center;
  }
  .hero-header {
    margin-top: 30px;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
  }
  .price-text {
    margin-bottom: 31px;
    box-shadow: none;
    text-shadow: none;
  }
  .subfooter-right {
    border-top: 1px solid rgba(0, 0, 0, 0.09);
  }
  .center {
    padding-top: 23px;
    padding-bottom: 23px;
  }
  .navbar {
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
  }
  .social-widget {
    margin-right: 11px;
    margin-left: 11px;
  }
  .logo {
    display: inline-block;
    margin-top: -6px;
    float: none;
  }
}

@media (max-width: 479px) {
  h3 {
    font-size: 15px;
    line-height: 23px;
    font-weight: 400;
  }
  .section {
    text-align: center;
  }
  .section.white {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .section.grey {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .hero-iphone {
    text-shadow: black 0px 0px 0px;
  }
  .hero-header {
    font-size: 32px;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
  }
  .price-text {
    font-size: 23px;
  }
}

