


body {
  background: #990099;
  width: 100%;
  display: inline-block;
  margin: 0 auto;  
  font-family: Circular, sans-serif;
  color: white;
}


header, footer, .container {
  background: #99cc00;
  border-radius: 0.5em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  margin-left: 6em;
  margin-right: 6em;
  box-sizing: border-box;
}

header {
  height: 7em;
  margin-top: 1em;
  text-align: center; 
  overflow:visible;
  box-sizing: border-box;  
}

footer {
  height: 7em;
  padding-top: 5em; 
  text-align: center;  
  box-sizing: border-box;
}

header p{
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 0.5em;
  position: relative;
  top: 0.5em;
}


footer p{
  font-size: 0.75em;
  color: #990099;
}

.box-1, .box-2 {
  width: 50%;
  color: white;
  float: left;
  display: table;
  padding: 1.5em;
  box-sizing: border-box;
}

.box-2 {
  padding-left: 0;
}

ul {
  margin: 0;
  padding: 0px;
}

li {
  color: white;
  margin: 2px;
  padding: 3px;
  
  
}

.ck-button {
  display: none;
}

/*
.ck-button {
  height: 0;
  position: absolute;
  visibility: hidden;
}
*/

label {
  display: block;
  text-align: center;
  width: 5.5em;
  height: 3em;
  padding: 0.8em;
  border: 2px solid white;
  border-radius: 5px;
  box-sizing: border-box;
}

input:checked + label {
  background: white;
  color: #99cc00;
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease;
}

input + label:hover {
  border: 2px solid white;
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease;
}

/* .- -. .. */
.box-1 > div {
  float: left;
  margin: 0.2em;
  text-align: center;
  box-sizing: border-box;  
}

.sbm-button {
  width: 8em;
  height: 4em;
  border: 1px solid #990099;
  background: #990099;
  color: white;
  border-radius: 5px;
  overflow:auto;
  box-sizing: border-box;  
}


/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

  header, footer, .container {
    margin-left: 2em;
    margin-right: 2em;
  }

  header p{
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0.5em;
  } 

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  header, footer, .container {
    margin-left: 2em;
    margin-right: 2em;
  }

  header p{
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }  
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
 
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
 

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

  header, footer, .container {
    margin-left: 2em;
    margin-right: 2em;
  }

  header p{
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }    

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {  

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

  header, footer, .container {
    margin-left: 2em;
    margin-right: 2em;
  }

  header p{
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }  

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 




}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

